.filterBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.input {
    width: 50%;
}
.btn {
    padding: 5px 15px;
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(161, 161, 161);
    border-radius: 3px;
    cursor: pointer;
}

.active {
    background-color: rgb(78, 209, 209);
}